<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/controller.js"></script>
    <script src="/javascripts/services.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js"></script>

</head>
<body ng-app='angularApp'>

<button ui-sref='home'>Card Manager</button>
<button ui-sref='splash'>Splash Page</button>
<button ui-sref='state1'>Make a New Card</button>


<h1>Flash-Card Game</h1>
<md-container>
    <ui-view></ui-view>
</md-container>
</body>
</html>
