<h2>Make a new Card</h2>
<div>Enter your question</div>
<input type="text" ng-model="newQuestion">
<div>Enter the answer</div>
<input type="text" ng-model="newAnswer">
<div>Enter a category</div>
<select class="browser-default" name="cars" ng-model="newCategory">
    <option value="history">History</option>
    <option value="math">Math</option>
    <option value="science">Science</option>
    <option value="mythology">Mythology</option>
</select>
<button ng-click="newPost(newData)">Make a Card!!</button>